body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    font-family: Courier;
    color: white;
}

#asciiContainer {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipHorizontally {
    transform: scaleX(-1);
}

#ascii {
    color: white;
    font-size: 6rem;
}

#bottomMenu {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#imageUploader, #pixelationSliderContainer {
    width: 15vw;
}

#file {
    display: none;
}

#fileName {
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0;
}

#imageUploader label {
    height: 7vh;
    border-radius: 1rem;
    background: linear-gradient(40deg, #3a4868, #6eb2ff);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#pixelationSliderContainer {
    text-align: center;
}

#pixelationSliderText {
    margin-top: 0;
}

#cameraButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    border: 0.5rem solid white;
    opacity: 0.8;
}

#cameraButton:hover {
    opacity: 1;
}

#cameraButtonInside {
    width: 9vh;
    height: 9vh;
    border-radius: 100%;
    background-color: red;
    transition: 0.5s;
}

.cameraButtonInsideRecording {
    width: 5vh !important;
    height: 5vh !important;
    border-radius: 20% !important;
}

#video, #canvas, #inputImage {
    display: none;
}
